meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
meta(name="keywords", content)
meta(name="description", content)
meta(name="author", content)
link(rel="shortcut icon", href="images/favicon.png", type)
title EventPulse
//  bootstrap core css 
link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
//  lightbox 
link(href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css", rel="stylesheet")
//  fonts style 
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap", rel="stylesheet")
//  font awesome style 
link(href="css/font-awesome.min.css", rel="stylesheet")
//  Custom styles for this template 
link(href="css/style.css", rel="stylesheet")
//  responsive style 
link(href="css/responsive.css", rel="stylesheet")
.hero_area
  .hero_bg_box
    img(src="images/21.jfif", alt)
  //  header section strats 
  header.header_section
    .container
      nav.navbar.navbar-expand-lg.custom_nav-container
        a.navbar-brand(href="/")
          span.
            EventPulse
            
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href="/")
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="/about") About
            li.nav-item
              a.nav-link(href="/events") Events
            li.nav-item
              a.nav-link(href="/contact") Contact Us
            li.nav-item
                a.nav-link(href="/login") Login 
            li.nav-item
                a.nav-link(href="/register") Register
  //  end header section 
  //  slider section 
  section.slider_section
    #customCarousel1.carousel.slide(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          .container
            .row
              .col-lg-8.col-xl-6.mx-auto
                .detail-box
                  h1
                    | Welcome to 
                    br
                    | guestBook
                  p.
                    A guestbook is a digital or physical platform where visitors can leave comments, messages, or signatures to express their thoughts, feedback, or simply acknowledge their presence at a specific event, location, or website
                  .btn-box
                    a.btn1(href="/contact").
                      Contact Us                
script(type="text/javascript", src="js/jquery-3.4.1.min.js")
//  popper js 
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous").
  
  
//  bootstrap js 
script(type="text/javascript", src="js/bootstrap.js")
//  lightbox 
script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js")